@page
@using RedisHandlers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form id="valuator-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <hr/>
        <div class="form-group">
            <label>Текст для оценки</label>
            <textarea class="form-control" name="text" rows="5" required placeholder="Введите текст..."></textarea>
        </div>
        <div class="form-group">
            <label>Страна</label>
            <select class="form-control" name="segment" required>
                <option value="@Configs.SegmentRus">Russia</option>
                <option value="@Configs.SegmentEu">France</option>
                <option value="@Configs.SegmentEu">Germany</option>
                <option value="@Configs.SegmentOther">USA</option>
                <option value="@Configs.SegmentOther">India</option>
            </select>
        </div>
        <input class="btn btn-primary" type="submit"/>
    </form>
</div>